<div class="container">
  <div class="jumbotron text-center">
    <h1>App piano. Toca algo de música :3</h1>

    <div class="row">
      <div class="col-lg-4 offsset-lg-4">
        <div class="list-group">
          <a (click)="tocarNota(1)" class="list-group-item list-group-item-action" style="background-color: red;"></a>
          <a (click)="tocarNota(2)" class="list-group-item list-group-item-action"
            style="background-color: orange;"></a>
          <a (click)="tocarNota(3)" class="list-group-item list-group-item-action"
            style="background-color: yellow;"></a>
          <a (click)="tocarNota(4)" class="list-group-item list-group-item-action" style="background-color: green;"></a>
          <a (click)="tocarNota(5)" class="list-group-item list-group-item-action" style="background-color: teal;"></a>
          <a (click)="tocarNota(6)" class="list-group-item list-group-item-action" style="background-color: blue;"></a>
          <a (click)="tocarNota(7)" class="list-group-item list-group-item-action"
            style="background-color: purple;"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <audio controls>
  <source src="..\assets\sonidos\note3.wav">
</audio> -->